@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #0a0a11;
}

.descItem {
  @apply after:content-['|'] after:ml-[6px] after:text-after-desc-element;
}

.descWrap {
  @apply mt-[9px] flex flex-row flex-wrap gap-x-[6px] text-[12px] leading-[1.5] font-normal text-desc-text-color;
}

.button {
  @apply font-semibold text-[14px] leading-[1.43] mt-[28px] w-full py-[12px] rounded-[12px] bg-accent-color text-btn-text-color hover:bg-accent-hover-color focus:outline-none focus:ring transition-colors;
}
