@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #0a0a11;
}

.descItem {
  @apply after:content-['|'] after:ml-[6px] after:text-after-desc-element;
}

.descWrap {
  @apply flex flex-row flex-wrap gap-x-[6px] text-[12px] leading-[1.5] font-normal text-desc-text-color;
}
