@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

:root {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  background-color: #fff;
  /* color: #0a0a11; */
  min-height: 100vh;
}

.descItem {
  @apply after:content-['|'] after:ml-[6px] after:text-after-desc-element;
}

.descWrap {
  @apply flex flex-row flex-wrap gap-x-[6px] text-[12px] leading-[1.5] font-normal text-desc-text-color;
}

.arrow {
  @apply absolute bottom-[14px] right-[14px] cursor-pointer;
}
